@import "./../../index.scss";

.campaignCard {
  box-sizing: border-box;
  position: relative;
  width: 600px;
  border-width: 6px;
  border-style: solid;
  margin-bottom: 20px;

  .firstContainer {
    display: flex;
    flex-direction: row;
    height: 300px;

    .whiteLine {
      background-color: white;
      height: 300px;
      width: 8px;
      position: absolute;
      left: 295px;
      transform: skew(-15deg);
    }

    .campaignImg {
      width: 400px;
      height: 300px;
      clip-path: polygon(0 0, 85% 0%, 65% 100%, 0% 100%);
    }

    .timer {
      width: 250px;
      color: white;
      font-family: arial;
      font-size: 36px;
      font-weight: bold;
      text-align: right;
      position: absolute;
      right: 10px;
      top: 150px;
      z-index: 1;
    }
  }
  .secondContainer {
    background: white;
    height: 150px;
    padding-top: 10px;

    .campaignTitle {
      font-family: arial;
      font-weight: bold;
      font-size: 36px;
      text-align: left;
      margin: 10px;
      margin-top: 0;
      color: $cardTitleFontColor;
    }

    .fondationName {
      font-family: Arial;
      font-size: 24px;
      color: $fondationFontColor;
      margin-left: 10px;
    }
    git check .moreInfo {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      bottom: 10px;
      right: 10px;

      .moreInfoText {
        font-family: arial;
        font-size: 24px;
        color: $moreInfoFontColor;
      }

      img {
        width: 5%;
        height: auto;
        margin: 10px;
        transform: scale(0.9);
      }
      .moreInfo img:hover {
        transform: scale(1);
      }
    }
  }
}

.blueCard {
  border-image: $cardBlueBorder;
  background: $cardBlueGradient;
}
.redCard {
  border-image: $cardRedBorder;
  background: $cardRedGradient;
}
