@import "../../index.scss";

.CampaignFormBO {
  display: flex;
  flex-direction: column;
  text-align: center;
  h1 {
    margin: 40px 0;
  }
  form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    .container {
      display: flex;
      flex-direction: column;
      align-self: center;

      label {
        margin-bottom: 20px;
        input {
          background: none;
          padding: 5px 15px;
          border: none;
          border-bottom: solid 2px $mainBrandColorBO;
        }
      }
    }
    button[type="submit"] {
      padding: 5px 15px;
      cursor: pointer;
      display: block;
      width: 260px;
      margin: 20px auto 0;
      border-radius: 5px;
      border: solid 2px $mainBrandColorBO;
      background: none;
      transition: all 0.7s;
      &:hover {
        color: $lightFontColor;
        background-color: $mainBrandColorBO;
      }
    }
  }
}

// .CampaignFormBO {
//   //display: flex;
//   //flex-direction: column;
//   //text-align: center;
//   form {
//     //display: flex;
//     //flex-direction: column;
//     //align-self: center;
//     //width: 50%;
//     .container {
//       //margin-bottom: 20px;
//       //display: flex;
//       //flex-direction: column;
//       //align-self: center;
//     }
//   }
// }
// form#form {
//   #camp_name,
//   #camp_pic,
//   #camp_resume,
//   #camp_start,
//   #camp_end,
//   #camp_date,
//   #camp_value_1,
//   #camp_value_2,
//   #camp_value_3,
//   #camp_user_id,
//   #camp_amb_id,
//   #camp_ass_id {
//     display: block;
//     // align-self: flex-start;
//     // display: inline-block;
//     // margin-bottom: 30px;
//   }
// }

// #camp_name {
// }

// #camp_pic {
// }

// #camp_resume {
// }

// #camp_start {
// }
// #camp_end {
// }

// #camp_date {
// }

// #camp_value_1 {
// }

// #camp_value_2 {
// }

// #camp_value_3 {
// }

// #camp_user_id {
// }

// #camp_amb_id {
// }

// #camp_ass_id {
// }
