@import "../../index.scss";

#article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 100px; //margin à redéfinir
}

.box {
  border: $mainBrandColor solid 3px;
  border-radius: 2px;
  height: 100%;
  width: 100%;
}

#titre {
  text-align: center;
  color: $mainBrandColor;
  font-weight: bold;
}

#lirePlus {
  color: $mainBrandColor;
  text-align: right;
}
