@import "../../index.scss";

.Footer {
  .footerContainer {
    width: 100%;
    height: auto;
    padding: 30px 10px;
    background-color: $mainBrandColor;
    display: flex;
    justify-content: space-around;

    .footerInfos {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        align-content: space-around;

        li {
          padding: 10px;

          a {
            color: $lightFontColor;
            font-family: $basicFont;
          }
        }
      }
    }
    .footerLogo {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        display: flex;
        justify-content: center;
      }
    }
    .socialMed {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $lightFontColor;
      font-family: $basicFont;

      ul {
        display: flex;
        align-items: flex-end;
        padding: 10px;

        li {
          padding: 5px;
        }
      }
    }
  }
}

// --------------- MEDIA QUERIES ----------------

@media screen and (max-width: 960px) {
  .Footer {
    .footerContainer {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: auto;
      padding: 0;

      .footerInfos {
        width: 100%;
        padding: 10px;
        text-align: center;
      }
      .footerLogo {
        width: 100%;
        padding: 10px;
      }
      .footerSocial {
        width: 100%;
        padding: 10px;
      }
    }
  }
}
