@import "../../index.scss";

.FormCreateCause {
  display: flex;
  flex-direction: column;
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    .container {
      display: flex;
      flex-direction: column;
      align-self: center;

      label {
        margin-bottom: 20px;
        input {
          background: none;
          padding: 5px 15px;
          border: none;
          border-bottom: solid 2px $mainBrandColorBO;
        }
      }
    }
    button[type="submit"] {
      padding: 5px 15px;
      cursor: pointer;
      display: block;
      width: 260px;
      margin: 20px auto 0;
      border-radius: 5px;
      border: solid 2px $mainBrandColorBO;
      background: none;
      transition: all 0.7s;
      &:hover {
        color: $lightFontColor;
        background-color: $mainBrandColorBO;
      }
    }
  }
}
