.infoProfilePage {
  width: 80%;
  margin: 150px;
  display: flex;
  flex-direction: row;

  .resumeInfoPage {
    font-size: 24px;
    text-align: justify;
  }
}

.infoContainer {
  margin: 0 50px;
  .firstContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;

    h2 {
      font-size: 30px;
    }
    .profileTag {
      display: flex;
      img {
        margin-left: 10px;
        border-radius: 50px;
      }
    }
  }
}
