@import "../../index.scss";
.LearnMore {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    grid-gap: 5%;
    li {
      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }
  .__react_component_tooltip.type-info {
    background-color: $mainBrandColor;
    width: 20%;
    height: auto;
  }

  .__react_component_tooltip.type-info.place-left:after {
    border-left-color: $mainBrandColor;
  }

  .__react_component_tooltip.type-info.place-bottom:after {
    border-bottom-color: $mainBrandColor;
  }

  .__react_component_tooltip.type-info.place-right:after {
    border-right-color: $mainBrandColor;
  }
}
