@import "./../../index.scss";

/* ---------- DESKTOP MENU ---------- */

.NavBar {
  background-color: $mainBrandColor;
  position: sticky;
  top: 0;
  z-index: 3;
  font-family: $basicFont;

  .desktopNav {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .logo {
      padding: 13px 20px;

      .meexLogo {
        height: 60px;
      }
    }

    .desktopMenu {
      font-size: 0;
      li {
        font-size: $mediumFontSize;
        display: inline-block;
        a {
          display: block;
          padding: 13px 20px;
          position: relative;
          color: $lightFontColor;
          font-size: $bigFontSize;
          transition: all 0.4s;

          &.active {
            &:after {
              width: 80%;
            }
          }

          &:after {
            content: "";
            display: block;
            width: 0%;
            height: 2px;
            background-color: $backgroundColor;
            position: absolute;
            left: 10%;
            bottom: 10px;
            transition: all 0.4s;
          }
        }
      }
    }
  }
}

/* ---------- BURGER MENU ---------- */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 7px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $backgroundColor;
  transition: all 0.3s;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $mainBrandColor;
}

/*
  Sidebar wrapper styles
 Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  display: none;
  position: fixed;
  top: 45px;
  height: 100%;
  width: 320px;
  &:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: $mainBrandColor;
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* General sidebar styles */
.bm-menu {
  background: $backgroundColor;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  position: relative;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: block;
  padding: 13px 20px;
  position: relative;
  color: $mainBrandColor;
  font-size: $normalFontSize;
  transition: all 0.4s;

  &.bm-active {
    color: $mainBrandColor;
    background-color: $backgroundColor;
    &:after {
      width: 150px;
    }
  }

  &:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: $mainBrandColor;
    position: absolute;
    bottom: 5px;
    transition: all 0.4s;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 45px;
}

/* ---------- MEDIA QUERIES ---------- */

@media screen and (max-width: 960px) {
  .NavBar {
    .desktopMenu {
      display: none;
    }
  }
  .bm-burger-button {
    display: block;
  }
  .bm-menu-wrap {
    display: block;
  }
}

// For Navbar Admin

// NavBar Destop
.NavBarBO {
  background-color: $mainBrandColorBO;
}

// NavBar Admin Mobile, BurgerMenu
.BurgerMenuBO {
  .bm-crossBO {
    background: $mainBrandColorBO;
  }

  .bm-menu-wrap {
    background-color: $mainBrandColorBO;
  }

  .bm-item {
    color: $mainBrandColorBO;
    &.bm-active {
      color: $mainBrandColorBO;
    }

    &:after {
      background-color: $mainBrandColorBO;
    }
  }
}
