@import "./../../index.scss";

.ProfileCardBlue,
.ProfileCardYellow {
  border: solid 4px $darkFontColor;
  border-image: $cardBlueBorder;
  background: $cardBlueGradient;
  position: relative;
  width: calc(320px - 20px);
  box-shadow: $boxShadow;
  margin-bottom: 20px;
  .blueContent,
  .yellowContent {
    margin-top: -60px;
    .titleBorder {
      height: 40px;
      background: $cardBlueBorder;
      display: block;
      z-index: 1;
      clip-path: polygon(50% 20px, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    .titleLayout {
      margin-top: -25px;
      height: 60px;
      background: $cardBlueGradient;
      display: block;
      z-index: 1;
      clip-path: polygon(50% 20px, 100% 0, 100% 100%, 0 100%, 0 0);

      h3 {
        padding-top: 25px;
        text-align: center;
        color: $lightFontColor;
      }
    }
  }
  .yellowContent {
    .titleBorder {
      background: $cardYellowBorder;
    }
    .titleLayout {
      background: $cardYellowGradient;
    }
  }
}
.ProfileCardYellow {
  border-image: $cardYellowBorder;
  background: $cardYellowGradient;
}
