@import "../../index.scss";

.TagLine {
  .center {
    h1 {
      text-align: center;
      color: $mainBrandColor;
      font-size: $h1FontSize;
      margin: 20px;
    }
  }
}

/* ------------------------ MEDIA QUERIES 960px ---- */

@media screen and (max-width: 960px) {
  .center {
    width: 100%;
    margin: 0;
  }
}
