$darkFontColor: black;
$lightFontColor: white;
$backgroundColor: white;
$mainBrandColor: rgba(0, 176, 240, 1);
$lightGray: rgb(197, 197, 197);
$mainBrandGradient: linear-gradient(
  rgba(145, 226, 255, 1) 24%,
  rgba(0, 176, 240, 1) 90%
);

//variable for campaign cards
$cardBlueBorder: linear-gradient(235.76deg, #00bd88 11.06%, #009bbd 99.77%) 1;
$cardBlueBg: linear-gradient(235.76deg, #00bd88 11.06%, #009bbd 99.77%);
$cardTitleFontColor: #384955;
$fondationFontColor: #00e0ff;
$moreInfoFontColor: #00b0f0;

$normalFontSize: 1rem;
$mediumFontSize: 1.2rem;
$bigFontSize: 1.4rem;
$biggestFontSize: 1.8rem;
$smallerFontSize: 0.8rem;
$h1FontSize: 1.8rem;
$h2FontSize: 1.6rem;
$h3FontSize: 1.4rem;
$h4FontSize: 1.2rem;

$boxShadow: 2px 6px 14px 1px rgba(0, 0, 0, 0.35);
