$darkFontColor: black;
$lightFontColor: white;
$backgroundColor: white;
$mainBrandColor: rgba(0, 176, 240, 1);
$darkBackgroundAlpha: rgba(0, 0, 0, 0.5);
$mainBrandColor: rgba(0, 176, 240, 1);
$mainBrandColorAlpha: rgba(0, 176, 240, 0.8);
$lightGray: rgb(197, 197, 197);

$smallerFontSize: 1rem;
$normalFontSize: 1rem;
$mediumFontSize: 1.2rem;
$bigFontSize: 1.4rem;
$h1FontSize: 1.8rem;
$h2FontSize: 1.6rem;
$h3FontSize: 1.4rem;
$h4FontSize: 1.2rem;

$boxShadow: 2px 6px 14px 1px rgba(0, 0, 0, 0.35);
