$darkFontColor: black;
$lightFontColor: white;
$backgroundColor: white;
$mainBrandColor: rgba(0, 176, 240, 1);
$lightGray: #f7f7f7;
$mainBrandGradient: linear-gradient(
  rgba(145, 226, 255, 1) 24%,
  rgba(0, 176, 240, 1) 90%
);

$normalFontSize: 1rem;
$mediumFontSize: 1.2rem;
$bigFontSize: 1.4rem;
$biggestFontSize: 4rem;
$smallerFontSize: 0.8rem;
$h1FontSize: 1.8rem;
$h2FontSize: 1.6rem;
$h3FontSize: 1.4rem;
$h4FontSize: 1.2rem;

$boxShadow: 2px 6px 14px 1px rgba(0, 0, 0, 0.35);
