@import "./index.scss";

* {
  box-sizing: border-box;
  outline: 0;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcapton,
class,
img {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: $backgroundColor;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
}

img,
object,
embed,
canvas,
video,
audio,
picture,
svg {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: $darkFontColor;
}

button {
  background: none;
  padding: 0;
  border: 0;
}

ul,
ol {
  font-size: 0;
  list-style-type: none;
}

li {
  font-size: $normalFontSize;
}
/* ------------------------------- GLOBAL:REPETITIVES RULES ------------------------------- */
.clear {
  display: block;
  zoom: 1;
  &:after {
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
.center {
  width: 960px;
  margin: 0 auto;
}
