@import "../../index.scss";

.AmbassadorsWrapper {
  .AmbassadorInfos {
    display: flex;
    flex-wrap: nowrap;
    padding: 100px 0;
    .photo {
      width: 50%;
      text-align: center;
    }
    .content {
      width: 50%;
      padding: 0 0 20px 0;
      .tags {
        background: $cardBlueGradient;
        margin-bottom: 30px;
        padding: 10px;
        ul {
          li {
            display: inline-block;
            img {
              margin-left: 5px;
              width: 50px;
              border-radius: 25px;
            }
          }
        }
      }
      p {
        margin-bottom: 20px;
        padding-left: 20px;
        width: 80%;
      }
    }
  }
  .relatedTitle {
    font-size: $bigFontSize;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .AmbassadorsRelated {
    width: 100%;
    background: $cardBlueGradient;
    margin-bottom: 60px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .AmbassadorsWrapper {
    .AmbassadorInfos {
      padding: 40px 0;
      flex-wrap: wrap;
      .photo {
        margin-bottom: 20px;
      }
      .photo,
      .content {
        width: 100%;
        p {
          width: 100%;
          padding: 0 20px;
        }
      }
    }
  }
}
