@import "../../index.scss";

.Ambassadors {
  .ambassadorsHero {
    img {
      width: 100%;
    }
  }
  .containerProfile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    .ProfileCardBlue {
      transform: scale(0.95);
      transition: ease 0.2s;
      &:hover {
        box-shadow: $boxShadow;
        transform: scale(1);
      }
    }
  }
}
