@import "../../index.scss";
@import "../../reset.scss";

.causes {
  .causeContainer {
    min-height: calc(100vh - 300px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
    width: 90%;
  }

  // ---------------- MEDIA QUERIES 960px --------------
  @media screen and (max-width: 960px) {
    .center {
      width: 100%;
      margin: 0;
    }
  }
}
