@import "../../index.scss";

.CausesWrapper {
  .CausesInfos {
    display: flex;
    flex-wrap: nowrap;
    padding: 100px 0;
    .photo {
      width: 50%;
      text-align: center;
    }
    .content {
      width: 50%;
      padding: 0 0 20px 0;
      .tags {
        background: $cardYellowGradient;
        margin-bottom: 30px;
        padding: 10px;
        ul {
          li {
            display: inline-block;
            img {
              margin-left: 5px;
              width: 50px;
              border-radius: 25px;
            }
          }
        }
      }
      p {
        margin-bottom: 20px;
        padding-left: 20px;
        width: 80%;
      }
      a {
        color: $lightFontColor;
        background: $cardYellowGradient;
        padding: 5px 15px;
        font-weight: 700;
        border-radius: 5px;
        margin-left: 20px;
      }
    }
  }
  .relatedTitle {
    font-size: $bigFontSize;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .CausesRelated {
    width: 100%;
    background: $cardYellowGradient;
    margin-bottom: 60px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .CausesWrapper {
    .CausesInfos {
      flex-wrap: wrap;
      padding: 40px 0;
      .photo {
        margin-bottom: 20px;
      }
      .photo,
      .content {
        width: 100%;
        p {
          width: 100%;
          padding: 0 20px;
        }
      }
    }
  }
}
