@import "../../index.scss";

.HomeBO {
  padding: 20px;
  p {
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .formsSelector {
    display: flex;
    justify-content: space-around;
    a {
      font-weight: 700;
      padding: 5px 15px;
      border: solid 2px $mainBrandColorBO;
      border-radius: 5px;
    }
  }
}
